
::ng-deep .mat-typography
{

    line-height: 12px;
    font-size: 13px;
    font-weight: 300;


}
.header-table {
    font-family: 'Montserrat';
    margin: 2rem;
    margin-left: 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    font-weight: 400;
    font-size: x-large;


}



.table-header-card {
    position: absolute;
    width: 46.5rem;
    height: 2rem;
   
    margin-left: 1rem;
    margin-top: 0.3rem;
    display: flex;
    font-family: 'Montserrat';
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(110, 117, 119, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 10px;

}


.single-card-header-1 {
    position: absolute;
    width: 15.5rem;
    height: 0.5rem;
    padding: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    background: #FBA806;
    border-radius: 0.625rem;
    font-family: 'Montserrat';
    
}

.single-card-header-2 {
    position: absolute;
    width: 5rem;
    height: 0.5rem;
    padding: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 18.5rem;
    font-family: 'Montserrat';

    background: #FBA806;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.single-card-header-3 {
    position: absolute;
    width: 4.1rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 25.9rem;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;


    background: #FBA806;
    border-radius: 0.625rem;
}

.single-card-header-4 {
    position: absolute;
    width: 13.5rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 32rem;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;


    background: #FBA806;
    border-radius: 0.625rem;
}

::ng-deep .mat-datepicker-input 
{
    background: transparent;
    border-color:rgb(127, 122, 122);
    border:1px solid;
    border-radius: 5px;
    width: 70px;
    font-family:'Montserrat' ;
    font-weight: 400; 
    margin-top: 10px;
    
    
    
}
.second-card-header-1 {
    position: absolute;
    width: 5.75rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
    
    font-family: 'Montserrat';
    
}

.second-card-header-2 {
    position: absolute;
    width: 6.1rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 8rem;
    font-family: 'Montserrat';

    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
}

.second-card-header-3 {
    position: absolute;
    width: 7.5rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 16rem;
    font-family: 'Montserrat';

    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
}

.second-card-header-4 {
    position: absolute;
    width: 14.5rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 0.95rem;
    padding-top: 0.625rem;
    margin-left: 25.5rem;
    font-family: 'Montserrat';


    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
}

.second-card-header-5 {
    position: absolute;
    width: 7.8rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 42rem;
    font-family: 'Montserrat';


    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
}
.second-card-header-6 {
    position: absolute;
    width: 8.8rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 52rem;
    font-family: 'Montserrat';


    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
}
.second-card-header-7 {
    position: absolute;
    width: 7.8rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 63rem;
    font-family: 'Montserrat';


    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
}
.second-card-header-8 {
    position: absolute;
    width: 9.0rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 73rem;
    font-family: 'Montserrat';


    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
}
.second-card-header-9 {
    position: absolute;
    width: 7.8rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 84rem;
    font-family: 'Montserrat';


    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
}
/* .second-card-header-10 {
    position: absolute;
    width: 5.8rem;
    height: 0.5rem;
    padding: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 0.625rem;
    margin-left: 84rem;
    font-family: 'Montserrat';


    background: #3e3838f6;
    color: #f7f3f3;
    border-radius: 0.625rem;
} */

/* .content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 3rem;
    width: 100%;
    margin: 10px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    font-family: 'Montserrat';


}

.content-table thead tr{
    background-color: #FBA806;
    color: #f7f3f3;
    text-align: left;
    font-weight: bold;

}

.content-table th{
    background: #3e3838f6;
}


.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #f7f3f3;

}
.content-table tbody tr:nth-of-type(even){

    background-color: #f3f3f3;


} */

